
.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-gap: 10px;
}

@media screen and (max-width: 1025px) {

  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {

  .movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
